@import "normalize.css";
@tailwind base;
@tailwind components;
@tailwind utilities;
@custom-variant dark (&:where(.dark, .dark *));


:root {
  --background: #fffff2;
  --foreground: #181512;
}

:root.dark {
  --background: #181512;
  --foreground: #fffff2;
}

body, html {
  color: var(--foreground);
  background: var(--background);
  overflow-x: hidden;
  scroll-behavior: smooth;
  transition: background-color 0.3s ease, color 0.3s ease;
}

div {
  max-width: 100%;
  border-color: var(--foreground);
}

main {
  transition: background-color 0.3s ease, color 0.3s ease;
}

@keyframes pull {
  0% {
    transform: translateY(0px);
  }
  40% {
    transform: translateY(15px);
  }
  50% {
    transform: translateY(0px);
  }
  70% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.Light-switch:hover {
  animation: pull 1s ease-in-out;
  animation-iteration-count: 1; 
}

.animate-pull {
  animation: pull 1s ease-in-out;
  animation-iteration-count: 1; 
  animation-fill-mode: forwards;
}